#nav ul{
	background-color:#333;
	top:0;
	width:100%;
	list-style-type:none;
	margin:0;
	overflow:hidden;
	padding:16px;
}
#nav li{
	display:inline;
	padding:10px;
    text-align:center;
	
}
#nav li a{
	display:inline;
	color:white;
	padding:16px;
	text-decoration:none;
}
#nav li a:hover{background-color:#D3D3D3;}
#panels{
	text-align:center;
}

#logo{
	font: italic bold 12px/30px Georgia, serif;
	font-size: 30px;
	text-align:center;
	padding: 10px;
}

#footer{
	color:#A9A9A9;
	text-align:center;
	position:absolute;
	bottom:3px;
	left:600px;
}